body,h1,h2,h3,h4,h5,h6,ol,ul,li,form,input,p,textarea,select,option{
    margin: 0;
    padding: 0;

}
body{
    background: #ffd8ff;
    font-family:微软雅黑,宋体,新宋体,sans-serif;
    list-style: none;

}
a{
    color:#403e3b;
    text-decoration: none;
}
a:hover{
    color:#ffa8cf;
}





/*标题*/
.header{
    width: 100%;
    height: 67px;
    background: #ffa8cf;
    line-height:67px;
    border-top:3px solid #403e3b;
    margin-bottom: 20px;


}
.header h1{
    width:130px;

    height:100%;
    float:left;
    font-weight:bold;
    font-size:26px;
    background: #ffa8cf;
    color: #403e3b;
}
.header ol{
    width:860px;
    height:100%;
    background:#ffa8cf;
    float:left;
    list-style:none;
    margin-left:50px;
}
.header p{
    height:100%;
    float:right;
    background: #ffa8cf;
}

.headerbox{
    width:1200px;
    height: 62px;
    margin: 0 auto;

    background:  #ffa8cf;

}
.headerbox .nav  a{
    height: 62px;
    margin-right:20px;
    font-size: 21px;
    float: left;
    font-weight: bold;
    list-style:none;
    background: #ffa8cf;
    display:inline;
    color: #403e3b;
}
.nav li a:hover{
    color: #ffd8ff;
}

.search a{
    display: block;
    width: 60px;
    height: 60px;
    margin-left:10px;

}
.search a::before{
    display: block;
    width: 60px;
    height: 60px;
    font-size: 30px;
    margin-left:10px;

}



.box{
    width: 1200px;
    height: auto;
    margin: 0 auto;


}

.box>h2{
    font-size: 16px;
    line-height: 40px;
    border-bottom: 1px solid  #ffd8ff;
    color: #484848;
    font-weight: normal;
    position: relative;
    margin-bottom: 10px;
}
.box>h2::after:hover{
    transform:translateX(3px) ;
}
.box>h2::after{
    content: '';
    position: absolute;
    width: 60px;
    height: 2px;
    background:  #484848;
    left: 0;
    bottom: -2px;
    transition: transform  .2s ease;
}
.box>li{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.box span {
    position: relative;
    line-height: 32px;
    padding-right: 40px;
    color: #999;
}
.box li i {
    position: relative;
    font-style: normal;
}
a {
    text-decoration: none;
    color: #333;
}

.page{
    margin: 0 auto;
    float: right;
}

.page a {
    color: #666;
    margin: 0 5px 10px;
    padding: 5px 10px;
    background:  #ffa8cf;
    display: inline-block;
}

.page a:hover {
    background: #999;
}




















/*底部的站点声明*/

footer {
    background: #ffa8cf;
    width: 100%;
    border-top: #73777a 10px solid;
    padding: 30px 0;
    color: #73777a;
    font-size: 14px;
}
.box{
    width: 1200px;
    margin: auto;
    overflow: hidden;
}
ul, li {
    list-style: none;
}
.wxbox li {
    float: left;
    margin: 0 10px;
    text-align: center;
}
.wxbox img {
    height: 100px;
}
img {
    border: 0;
    display: block;
}
.endnav p {
    margin-bottom: 5px;
}
.top {
    width: 40px;
    height: 40px;
    display: block;
    background: url(../image/top.png) no-repeat center#73777a;
    right: 20px;
    bottom: 10%;
    position: fixed;
    border:#73777a solid 1px;
}
